html, body {
    overflow: hidden;

    margin: 0;

    width: 100%;
    height: 100%;

    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.root {
    display: flex;
    flex-direction: row;

    min-height: 0;
    width: 100%;
    height: 100%;
}

.main {
    position: relative;

    flex-grow: 1;

    margin-top: 8px;
    margin-left: 16px;
}

.sidebar {
    display: flex;
    flex-direction: column;

    border-left: 1px solid var(--vscode-sideBar-border);

    width: 350px;
    height: 100%;

    background-color: var(--vscode-sideBar-background);

    color: var(--vscode-sideBar-foreground);
}

.view {
    display: flex;
    flex-direction: column;

    min-height: 0;
    height: 100%;
}

.view:has(.view-content-hidden) {
    height: auto;
}

.view-title {
    border-bottom: 1px solid var(--vscode-sideBarSectionHeader-border) !important;

    padding: 6px 12px !important;

    background: var(--vscode-sideBarSectionHeader-background) !important;

    font-size: 11px !important;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: var(--vscode-sideBarSectionHeader-foreground) !important;

    outline: none !important;
    user-select: none;
}

.view-content {
    overflow-y: auto;

    height: 100%;
}

.view-content-hidden {
    display: none;
}

.dragging {
    z-index: 100 !important;

    opacity: 0.8;
}

.drag-overlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.drag-overlay.active {
    cursor: grabbing;
}

.selection {
    position: fixed;
}

.selection-dot {
    z-index: 500;
    position: fixed;

    transform: translate(-50%, -50%);

    width: 6px;
    height: 6px;

    background: blue;
}

.selection-dot-Top {
    cursor: ns-resize;
}
.selection-dot-Right {
    cursor: ew-resize;
}
.selection-dot-Bottom {
    cursor: ns-resize;
}
.selection-dot-Left {
    cursor: ew-resize;
}
.selection-dot-TopRight {
    cursor: nesw-resize;
}
.selection-dot-TopLeft {
    cursor: nwse-resize;
}
.selection-dot-BottomRight {
    cursor: nwse-resize;
}
.selection-dot-BottomLeft {
    cursor: nesw-resize;
}

#objectInspectorRoot, #objectInspectorRoot ul {
    margin: 0;

    padding: 0;

    list-style-type: none;
}
.inspector-element-label {
    width: 100%;

    padding: 4px 12px;

    cursor: pointer;

    user-select: none;
}
.inspector-element-label:hover:not(.inspector-element-label-selected) {
    background: var(--vscode-list-hoverBackground);

    color: var(--vscode-list-hoverForeground);
}
.inspector-element-label-selected {
    background: var(--vscode-list-activeSelectionBackground);

    color: var(--vscode-list-activeSelectionForeground);
}

#propertyEditorTable {
    border-spacing: 0;

    width: 100%;

    table-layout: fixed;
}

#propertyEditorTable thead {
    background: var(--vscode-keybindingTable-headerBackground);
}

#propertyEditorTable th {
    width: 100%;

    padding: 6px 12px;

    text-align: left;

    user-select: none;
}

.property-editor-property {
    width: 100%;
}
.property-editor-property-name {
    padding: 4px 12px;

    text-align: left;

    user-select: none;
}
.property-editor-property:nth-child(even) {
    background: var(--vscode-keybindingTable-rowsBackground);
}
.property-editor-separator {
    background: var(--vscode-list-hoverBackground);

    font-weight: 500;
    color: var(--vscode-list-hoverForeground);
}
.property-editor-separator-label {
    padding: 6px 12px;

    text-align: left;

    user-select: none;
}

.warning {
    display: none;

    border: 1px solid var(--vscode-inputValidation-warningBorder);

    padding: 8px 16px;

    background-color: var(--vscode-inputValidation-warningBackground);

    color: var(--vscode-inputValidation-warningForeground);
}

.warning.show {
    display: flex;
}

.warning-link {
    margin-left: auto;
}